---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/navbar';
import BoardAllPage from '../../components/board/boardList/BoardAllPage';
import '../../../assets/scss/astro-ecommerce.scss';
---

<Layout title="전체 게시글 | Happy Friends">
  <main>
    <Navbar client:load />
    <BoardAllPage client:load />
  </main>
</Layout>