---
import Navbar from '../components/Navbar';
import LoginForm from '../components/LoginForm';
import '../../assets/scss/astro-ecommerce.scss';
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title>로그인 - Happy Friends</title>
  </head>
  <body>
    <Navbar client:load />
    
    <LoginForm client:load />
  </body>
</html>