---
import Navbar from '../components/navbar';
import LoginForm from '../components/SignInUp/LoginForm';
import '../../assets/scss/astro-ecommerce.scss';
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title>로그인 - Happy Friends</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>
  <body>
    <Navbar client:load />
    
    <LoginForm client:load />
  </body>
</html>