---
import Navbar from '../components/navbar';
import SignupForm from '../components/SignInUp/SignupForm';
import '../../assets/scss/astro-ecommerce.scss';
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>회원가입 - Happy Friends</title>
  </head>
  <body class="bg-gray-200">
    <Navbar client:load />
    
    <main class="min-vh-100 d-flex align-items-center justify-content-center py-5">
      <SignupForm client:load />
    </main>
  </body>
</html>